body {
    background-color: #0D0E10;
    color: #e5e5e5;
	margin: 0px;
	z-index: 1;
}

#title {
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
}

#particles{
    overflow: hidden;
    position: absolute;
}

.hexsmall {
    opacity: 1;
    width: 20%;
    position: absolute;
}

.hexmedium {
    opacity: 1;
    width: 30%;
    position: absolute;
}

.hexlarge {
    opacity: 1;
    width: 40%;
    position: absolute;
}

#playbutton {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: -15px;
}

#settingsbutton {
    width: 30%;
    margin-left: 17%;
}

#scoresbutton {
    width: 30%;
    margin-left: 5%;
}
